.title {
    font-weight: 100;
    color: #79355ff2;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(79, 98, 148);
}

.content {
    background-image: url('../../assets/art4.jpg');
    background-size: 1290px 600px;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    margin-bottom: 5px;
}

.parr{
    color: #ffffff;
    padding-bottom: 10px;
    font-size: 1.8rem;
}

.btnApi {
    margin-right: 50px;
    background-color: #d4d6ea;
    color: #1a1a1a;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
}

.btnWeb {
    margin-left: 50px;
    background-color: #d4d6ea;
    color: #1a1a1a;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
}

.btnApi:hover {
    background-color: #bcbfdf;
    color: #79355ff2;
}

.btnWeb:hover {
    background-color: #bcbfdf;
    color: #79355ff2;
}