.title {
    font-weight: 100;
    font-size: 4rem;
    color: #79355ff2;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(79, 98, 148);
    margin: 1rem;
}

.content {
    background-image: url('../../assets/art4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    margin: 1rem;
}

.parr{
    color: #ffffff;
    padding-bottom: 10px;
    font-size: 2.5rem;
}

.btnApi {

    background-color: #d4d6ea;
    color: #1a1a1a;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
}

.btnWeb {
    margin-left: 20px;
    background-color: #d4d6ea;
    color: #1a1a1a;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
}

.btnSpot {
    margin-left: 30px;
    background-color: #d4d6ea;
    color: #1a1a1a;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
}

.btnApi:hover, .btnWeb:hover, .btnSpot:hover {
    background-color: #bcbfdf;
    color: #79355ff2;
    transition: 1s;
}

