.title {
    font-weight: 100;
    font-size: 4rem;
    color: #79355ff2;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(79, 98, 148);
    margin: 1rem;
}

.container {
    background-image: url('../../assets/art3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    margin: 1rem;
}

.parrafo {
    font-size: clamp(1.5rem, 4vw, 2rem);
}

.form {
    width: 30%;
    margin: 2rem auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: #f8f9fd;
    padding: 1.5rem;
    box-shadow: rgba(135, 171, 188, 0.878) 0px 30px 30px -20px;
    border-radius: 30px;
}

.label {
    text-align: center;
    line-height: 2;
    color: #8f4a73;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
}

.input {
    text-align: start;
    background-color: #dfcfba5b;
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: black;
    box-shadow: #98adb7 0px 10px 10px -5px;
}

.input:focus {
    outline: 2px solid #8f4a73;
}

.message {
    color: #bf1650;
}

.message::before {
    display: inline;
    content: "⚠ ";
}

.buttons {
    display: flex;
    margin-top: 35px;
    margin-bottom: 20px;
    gap: 2rem;
}

.btnClear {
    background: #98b3c587;
    color: #8f4a73;
    display: flex;
    font-size: clamp(0.7rem, 2vw, 1rem);
    letter-spacing: 8px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    box-shadow: #98adb7 0px 10px 10px -5px;
}

.btnSub {
    background: #98b3c587;
    color: #8f4a73;
    display: flex;
    font-size: clamp(0.7rem, 2vw, 1rem);
    letter-spacing: 8px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    box-shadow: #98adb7 0px 10px 10px -5px;
}

.btnClear:hover {
    background: #a4b2bc83;
    transition: 40ms;
}

.btnSub:hover {
    background: #a4b2bc83;
    transition: 40ms;
}

.btnClear:active {
    transform: translate(0.05em, 0.05em);
}

.btnSub:active {
    transform: translate(0.05em, 0.05em);
}

@media (min-width: 320px) {
    .form {
        width: 70%;
    }

    .btnClear, .btnSub {
        letter-spacing: 5px;
    }
}

@media (min-width: 768px) {
    .form {
        width: 50%;
    }
}

@media (min-width: 1440px) {
    .form {
        width: 30%;
    }
}