
.title {
    font-weight: 100;
    color: #79355ff2;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(79, 98, 148);
}

.infContainer {
    background-image: url('../../assets/art2.jpg');
    background-size: 1290px 600px;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    margin-bottom: 15px;
}

.info {
    font-size: 2rem;
}

.loading {
    color: #5a384d;
}

.error {
    color: #5a384d;
}

.pagination {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    font-size: 20px;
    padding: 0 8px;
    cursor: pointer;
    color: #5a384d;
    font-weight: 400;
}

.previous,
.next {
    font-size: 24px;
    cursor: pointer;
    color: #865473;
}

.previous {
    margin-left: 8px;
}

.next {
    margin-left: 8px;
}

.activePage {
    background-color: #cfb5925b;
    color: #800450;
    border-radius: 20px;

}
.break {
    color: #865473;
}