.flex_container {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin: 1rem;
}

@media (min-width: 320px) {
    .flex_container {
        margin: auto;
        justify-content: center;
    }
}

