.header {
    background-color: #cfb5925b;
    color: #8f4a73;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    margin-bottom: 0;
}

.headerTitle {
    display: flex;
    justify-content: start;
    font-size: 3rem;
}

.barra {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.lista {
    align-items: center;
    margin-right: 20px;
}

.contenido {
    color: #8f4a73;
    text-decoration: none;
    font-size: 1.5rem;
    transition: 0.5s;
}

.contenido:hover {
    color: #b95f97;
    font-size: 1.6rem;
    transition: 0.5s;
}