.footer {
    background-color: #cfb5925b;
    color: #8f4a73;
    text-align: center;
    padding: 20px;
    margin: 1rem;
    margin-top: 0;
}

.parr {
    padding-top: 10px;
    font-size: 1.1rem;
}

@media (min-width: 320px) {
    .footer {
        margin: 0;
        width: auto;
        padding-left: 0;
    }
}

@media (min-width: 768px) {
    .footer {
        margin: 1rem;
        margin-top: 0;
        width: auto;
        padding: 20px;
    }
}