.img_container {
    margin-top: 8px;
    display:flex;
    color: #8f4a73;
    margin: 1rem;
}

.artDetails {
    margin-left: 1.5rem;
}

.artistTitle {
    font-weight: bold;
    font-size:  clamp(1.5rem, 4vw, 3rem);
    color: #79355ff2;
    padding-top: 20px;
    text-align: center;
}

.artInfo {
    display: grid;
    grid-template-columns: max-content auto;
    color: #8f4a73;
    justify-content: center;
    padding-top: 40px;
    font-size:  clamp(1rem, 4vw, 1.3rem);
}

.artdt {
    font-weight: bold;
    border-top: 1px solid rgb(79, 98, 148);
}

.artdd {
    border-top: 1px solid rgb(79, 98, 148);
}

.detail_container {
    display: inline-block;
}

.arttTitle {
    font-weight: bold;
    font-size: clamp(1.5rem, 4vw, 3rem);
    color: #79355ff2;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(79, 98, 148);
}

.artDesc {
    font-weight: 100;
    font-size: clamp(1rem, 4vw, 1.3rem);
    color: #8f4a73;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(79, 98, 148);
}

@media (min-width: 320px) {
    .img_container {
        flex-direction: column;
    }

    .artDetails {
        margin-left: 0;
    }
}

@media (min-width: 1200px) {
    .img_container {
        flex-direction: row;
    }

    .artDetails {
        margin-left: 1.5rem;
    }
}